/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

input {
    font-size: 14px;
}

body {
    line-height: 1.4;
    color: #333333;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    margin-bottom: 16px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #777;
}

input {
    border: 1px solid #eeeeee;
    padding: 12px;
    outline: none;
}

button {
    cursor: pointer;
    padding: 12px;
    background: #7C5CBF;
    border: none;
    color: white;
    font-size: 16px;
    transition: background .3s ease;
}

button:hover {
    background: #6b47b8;
}

button:disabled {
    cursor: default;
    background: #7c5cbf94;
}

ol {
    list-style-type: none;
}

/* Join Page Styles */

.main {
    display: flex;
}

.roomlist__sidebar {
    height: 100vh;
    color: white;
    background: rgba(120,120,120,1);
    width: 225px;
    overflow-y: scroll;
    font-size: 20px;
}

.roomlist__sidebar li {
    background: #ffffff;
    border: 1px solid #00572b;
    border-radius: 5px;
    padding: 3px;
    margin: 15px 0px;
    color: #000000;
}

.centered-form {
    background: #333744;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.centered-form__box {
    box-shadow: 0px 0px 17px 1px #1D1F26;
    background: #F7F7FA;
    padding: 24px;
    width: 250px;
}

.centered-form button {
    width: 100%;
}

.centered-form input {
    margin-bottom: 16px;
    width: 100%;
}

/* Join Page Room List Sidebar Styles*/

.roomlist-title {
    font-weight: 400;
    font-size: 20px;
    color:rgb(250, 250, 250);
    background: #32462e;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.roomlist {
    font-weight: 300;
    padding: 12px 24px 0 24px;
}

/* Chat Page Layout */

.chat {
    display: flex;
    list-style-type: none;
}

.chat__sidebar {
    height: 100vh;
    color: rgb(0, 0, 0);
    background: #626a85;
    width: 225px;
    overflow-y: scroll
}

.chat__sidebar li {
    background: #e6eaee;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0px;
}

/* Chat styles */

.chat__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.chat__messages {
    flex-grow: 1;
    padding: 24px 24px 0 24px;
    overflow-y: scroll;
}

/* Message Styles */

.message {
    margin-bottom: 16px;   
}

.message__name {
    font-weight: 600;
    font-size: 14px;
    margin-right: 8px;
}

.message__meta {
    color: #777;
    font-size: 14px;
}

/* Message Box Styles */

.message a {
    color: #0070CC;
}

.message {
    background: rgba(240, 240, 240, 0.9);
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    margin: 20px;
    width: 230px;
    padding: 10px;
}

.self-message {
    background: rgba(250, 240, 90, 0.9);
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: 20pt;
    width: 230px;
    padding: 10px;
}

.location-message {
    background: rgba(240, 240, 240, 0.9);
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    margin: 20px;
    width: 230px;
    padding: 10px;
}

.self-location-message {
    background: rgba(250, 240, 90, 0.9);
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: 20pt;
    width: 230px;
    padding: 10px;
}

.message_header {
    display: flex;
    margin-bottom: 5px;
}

.message_header h4 {
    font-weight: 600;
}
  
.message_header span {
    color: #999;
    font-size: 11pt;
    margin-left: auto;
}

.message_body {
    width: 220px;
}

/* Message Composition Styles */

.compose {
    display: flex;
    flex-shrink: 0;
    margin-top: 16px;
    padding: 24px;
}

.compose form {
    display: flex;
    flex-grow: 1;
    margin-right: 16px;
}

.compose input {
    border: 1px solid #eeeeee;
    width: 100%;
    padding: 12px;
    margin: 0 16px 0 0;
    flex-grow: 1;
}

.compose button {
    font-size: 14px;
}

/* Chat Sidebar Styles */

.room-title {
    font-weight: 400;
    font-size: 30px;
    color:rgb(250, 250, 250);
    background: #2b2f3d;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.list-title {
    font-weight: 500;
    font-size: 30px;
    color:rgb(250, 250, 250);
    margin-bottom: 4px;
    padding: 12px 24px 0 24px;
    display: flex;
    justify-content: center;
}

.users {
    font-weight: 300;
    padding: 12px 24px 0 24px;
}